@import "./../../../../scss/style.scss";

#cards {
  .container {
    max-width: 1200px;
  }

  h3 {
    font-family: "DM Sans", sans-serif;
  }
}

#cards {
  position: relative;
  .card_flex {
    display: flex;
  }
  .card_all {
    width: 665px;
    box-shadow: 0 0.75rem 2.5rem rgb(0 0 0 / 8%);
    // padding-left: 85px;
    padding: 0 0 0 2px;
    .card1 {
      padding-top: 8vh;
      .card_details {
        margin-right: 44px;
        span {
          display: block;
          font-size: 0.9em;
          font-weight: 500;
          color: #161519;
          border-top: 1px solid #a0a0a0;
          padding: 16px 0;
          margin-top: 16px;
        }

        h3 {
          padding-top: 0.15em;
          letter-spacing: -0.035em;
          line-height: 1.15;
          font-size: calc(2rem + 0.25 * ((100vw - 576px) / 864));
          color: #111013;
          font-weight: 700;
          margin: 0;
        }

        p {
          @extend %awards_right_p_copy;
          margin: 1rem 0;
        }
      }

      img {
        @extend %img-cover;
        width: 100%;
        margin-top: 5vh;
      }
    }
  }
  // .card_all1 {
  //     z-index: 3;
  // }
  // .card_all2 {
  //     position: absolute;
  //     top: 0px;
  //     left: 300px;
  //     z-index: 2;
  // }
}
