@import "./../../../../scss/style.scss";

body {
  position: relative;
}

#theme {
  display: inline-flexbox;
  // gap: 30px;
  position: fixed;
  top: 61px;
  left: -33px;
  display: inline-flex;

  background-color: rgba(150, 144, 162, 0.25);
  border-radius: 37px;
  transform: rotate(-90deg);

  span {
    display: flex;
    gap: 10px;
    line-height: 1;
    font-weight: 500;
    font-size: 0.85em;
    cursor: pointer;
    color: #161519;
    padding: 0px 0.45rem 0px 0.45rem;
    padding-top: 7px;
    padding-bottom: 7px;

    svg {
      font-size: 15px;
    }

    #span222,
    #span111 {
      // transform: translateX(-75px);
      background-color: white;
      border-radius: 37px;
    }

    #span222 {
      position: absolute;
      left: 5px;
      top: 0px;
    }

    // #span111 {
    //     position: absolute;
    //     left: 0px;
    //     top: 0px;
    // }
  }

  .span11 {
    // padding-right: 10px;
    position: relative;
  }

  .span22 {
    position: relative;
  }
}
