@import "./../../../../scss/style.scss";

#work {
  .container {
    max-width: 1200px;
  }

  .col-lg-7,
  .col-lg-5 {
    padding: 0;
  }

  h1,
  li {
    font-family: "DM Sans", sans-serif;
  }
  .row_gg {
    @media (max-width: 992px) {
      justify-content: center;
    }
    .work_right {
      margin: 2px 0;
      padding: 20px 0 20px 50px;
      @media (max-width: 992px) {
        padding: 20px 0;
        margin: 0;
      }
      h1 {
        max-width: initial;
        @media (max-width: 992px) {
          text-align: center;
        }
      }
      ul {
        li {
          @media (max-width: 992px) {
            justify-content: center;
          }
        }
      }
    }
  }
}

#work {
  background-color: rgba(150, 144, 162, 0.06);

  .work_img {
    margin-top: 40px;

    img {
      @extend %img-cover;
      width: 100%;
      min-height: 30vh;
      max-height: 310px;
    }
  }

  .work_right {
    background-color: #fff;
    padding: 40px 0 55px 150px;
    min-height: 100%;
    @media (max-width: 992px) {
      background-color: transparent;
    }
    .centre_icon {
      @extend %centre_icon_copy;
      position: static;
      @media (max-width: 992px) {
        text-align: center;
      }
      @media (max-width: 768px) {
        padding-top: 20px;
      }
    }

    h1 {
      font-size: calc(2rem + 0.25 * ((100vw - 576px) / 864));
      letter-spacing: -0.035em;
      line-height: 1.15;
      color: #111013;
      font-weight: 700;
      margin: 0;
      margin: 1rem 0;
      max-width: 366px;
      @media (max-width: 768px) {
        font-size: 1.5rem;
      }
      @media (max-width: 550px) {
        font-size: 1.2rem;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        @extend %d-flex;
        justify-content: start;
        gap: 10px;
        color: #161519;
        line-height: 1.6;
        font-size: 1em;
        letter-spacing: -0.02em;
        line-height: 1.35;
        font-weight: 700;
        margin: 0;
        margin-bottom: 1rem;
      }
    }
  }

  .work_logo {
    @extend %img-contain;
    @media (max-width: 992px) {
      text-align: center;
      padding-bottom: 20px;
    }
    @media (max-width: 768px) {
      padding-bottom: 40px;
    }
    img {
      width: 124px;
    }
  }
}
